$blu: (
    bright: rgb(20,100,246),
    dark: rgb(0,131,255),
    med: rgb(133,176,255),
    light:  rgb(173,216,230)
);

$line: (
    _fat: 2px solid,
    _norm: 1px solid,
    _none: 0px solid
)